<h1>
  <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
</h1>

{% if site.avatar %}
  <img src="{{site.avatar | relative_url}}" alt="Avatar" />
{% endif %}

<p>
  {{ site.description | default: site.github.project_tagline }}
</p>

<p class="view">
  <a href="{{ site.github.repository_url }}">
    View this page as a GitHub project <small>{{ site.github.repository_nwo }}</small>
  </a>  
</p>

<ul class="downloads">
  <li>
    <a href="{{ site.github.owner_url }}">
      <strong><i class="fab fa-github social-icons"></i> Github</strong>
    </a>
  </li>
  <li>
    <a href="https://au.linkedin.com/in/{{ site.linkedin_username }}">
      <strong><i class="fab fa-linkedin social-icons"></i> LinkedIn</strong>
    </a>
  </li>
  <li>
    <a href="{{ site.resume_file }}">
      <strong><i class="fas fa-file-pdf social-icons"></i> Resume</strong>
    </a>
  </li>
</ul>

